fastapi
uvicorn[standard]
requests
python-jose[cryptography]
pydantic
prometheus-api-client # optional: helpful Prometheus client
python-dotenv
prometheus-fastapi-instrumentator
sqlalchemy
python-multipart
passlib
bcrypt
slowapi
psutil
psycopg2-binary
