services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - ./prometheus/rules.yml:/etc/prometheus/rules.yml:ro
    ports:
      - "9090:9090"
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--web.enable-lifecycle'

  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    ports:
      - "9100:9100"
    privileged: true
    volumes:
      - /sys:/sys:ro

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    privileged: true
    ports:
      - "9000:8080"
    command:
      - '--housekeeping_interval=30s'
      - '--docker_only=true'
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
    devices:
      - /dev/kmsg

  backend:
    image: backend-metrics:v1
    container_name: backend-metrics
    volumes:
      - ./data:/app/data
    env_file:
      - ../backend/.env
    ports:
      - "8000:8000"
    depends_on:
      - prometheus
      - postgres

  frontend:
    image: frontend-metrics:v1
    container_name: frontend-metrics
    ports:
      - "3001:3001"
    depends_on:
      - backend

  postgres:
    image: postgres:16-alpine
    container_name: postgres-metrics
    environment:
      POSTGRES_USER: krishna
      POSTGRES_PASSWORD: 1729
      POSTGRES_DB: postgresdb
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
