version: '3.7'
services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - ./prometheus/rules.yml:/etc/prometheus/rules.yml:ro
    ports:
      - "9090:9090"
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--web.enable-lifecycle'


  grafana:
    image: grafana/grafana:9.4.0
    container_name: grafana
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - grafana-storage:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning
    ports:
      - "3000:3000"

  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    ports:
      - "9100:9100"

  backend:
    image: backend_metrics:v1
    container_name: backend_metrics
    volumes:
      - ./data:/app/data
    env_file:
      - ../backend/.env.example
    ports:
      - "8000:8000"
    depends_on:
      - prometheus

  frontend:
    image: frontend_metrics:v1
    container_name: frontend_metrics
    ports:
      - "3001:8501"
    depends_on:
      - backend

volumes:
  grafana-storage:
