global:
  scrape_interval: 30s
  evaluation_interval: 30s

rule_files:
  - "/etc/prometheus/rules.yml"

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node_exporter'
    static_configs:
      - targets: ['node-exporter:9100']


  - job_name: 'backend'
    static_configs:
      - targets: ['backend:8000'] # so Prometheus can scrape metrics endpoint if backend exposes /metrics

  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080']
